*

!.gitignore
!README.md
!LICENSE.md
!CMakeLists.txt

!/src
!/src/*
!/include
!/include/*

!/cmake
!/cmake/*

!/doc
!/doc/*

!/example
!/example/*

!/test
!/test/*

!/.github
!/.github/workflows
!/.github/workflows/*